# Prerequisites
*.d

# Build dir
build/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDEs
.vscode

# Others
.history_*
models/tiedphoneme_I04.example.again.model
models/mixture_monophoneme_I32.example.again.model
models/2.gram.graph.again
